{% extends 'base.html' %} {% block alink %}
<li>
  <a href="{% url 'signup' %}">SignUp</a>
</li>
{% endblock alink %} {% block main %}
<main>
  <div>
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Login</button>
    </form>
  </div>
</main>
{% endblock main %}
